ion-card{
  height: auto;
  background: grey;
  color: white;
}

ion-card-title{
  color: white;
}

ion-card-subtitle{
  color: darkgrey;
}

ion-list{
  background: grey;
}

ion-item{
  --background: grey;
}
