.player{

  aspect-ratio: 16/9;
  width: 100%;


}

.image{
  border-radius: 8px;
  height: 20vh;

}

ion-accordion {
  margin: 0 auto;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 32px);

  margin: 16px auto;
}



.center-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 7vh;
  padding-bottom: 2vh;
}



ion-modal {
  --height: 50%;
  --border-radius: 16px;
}

.btntitel{
  font-size: 2vh;
}


.btncard{
  height: 140px;
  width: 140px;
  padding: 0;
  border: 0;
  margin: 0;
}




.Btn {
  height: 18vh;
  width: 40vw;

  --background: grey;
  --background-hover: white;
  --background-activated: lightgrey;
  --background-focused: lightgrey;
  --color: black;
  --border-radius: 10px;
  --border-color: #000;
  --border-style: solid;
  --border-width: 0px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);




  .BtnTr {
    height: 10vh;
    padding-left: 1vh;
    padding-right: 1vh;

  }


  .btndiv {

    background: grey;
    text-align: center;
    overflow: auto;

    h4 {
      font-weight: bold;
      font-size: 1.5vh;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    p {
      color: grey;
      margin-top: 0;
      font-size: 1.5vh;
    }
  }
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-collapsing {
  width: 100% !important; /* Oder setze die gewünschte Breite */
}

ion-accordion.accordion-expanded,
ion-accordion.accordion-collapsed {
  width: 100% !important; /* Oder setze die gewünschte Breite */
}

::-webkit-scrollbar{
  display: none;
}

.button-bar{


  display: flex;
  overflow-x: scroll;



  .active {


  }

  .inactive {

    --background: lightgrey;

  }






}

ion-card{
  height: auto;
  background: grey;
  color: white;
}

ion-card-title{
  color: white;
}

ion-card-subtitle{
  color: darkgrey;
}

ion-list{
  --ion-background-color: grey;
  background: grey;
}

ion-item{
  --ion-background-color: grey;
  --background: grey;
}

ion-toolbar{
  --ion-toolbar-background: #5e5e5e;
  --ion-text-color: white;
}
